# .coveragerc to control coverage.py
[run]
branch = True
omit =
    tests/*
    */__init__.py
    */utils/settings.py
    */utils/logger.py
source = src

[report]
exclude_lines =
    if __name__ == .__main__.:
    pass
precision = 2

fail_under = 100
